* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(../images/9916.jpg);
    background-size: cover;
  }
  
  .form {
    background-color: darkcyan;
    padding: 20px 15px;
    min-height: 250px;
    border-radius: 10px;
  }
  
  input {
    display: block;
    outline: none;
    padding: 15px 10px;
    margin: 30px;
    border: solid 1px ;
    background: none;
    color: black;
    width: 200px;
    transition: border-color 1s;
  }
  
  ::placeholder {
  color: red;
}
  
  input:focus {
    border-color: rgb(1, 4, 14);
  }
  
  .form button {
    padding: 10px;
    color: white;
    background:rgb(21, 65, 95);
    border: none;
    width: 200px;
    margin-left: 30px;
    transition: 0.2s;
    cursor: pointer;
  }

  .form button:hover {
    background: rgb(12, 12, 12);
  }
  
  
  .form a {
    color: rgb(245, 238, 238);
    text-decoration: none;
    display: block;
    margin: 15px;
    text-align: center;
    transition: 0.5s;
  }

  .form a:hover {
    color: rgb(8, 9, 10);
  }
  
  
  
  .show-page {
    display: block;
    animation: show-page 1s;
  }
  
  @keyframes show-page {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  h2 {
    	text-align:center;
    }